@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

body {
    font-family: 'Nunito Sans', sans-serif;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#intro {
    text-align: center;
}

#intro img {
    width: 100px;
    height: auto;
    padding-bottom: 1rem;
}

.full-width-section {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 2rem 0;
}